<div class="button-top-table">
    <button type="button" class="btn btn-secondary" (click)="openModalCreatePatient(template)">New Patient</button>
</div>
<div class="mt-4 mb-4">
    <ngx-datatable class="table-custom" [rows]="rows" [columnMode]="'force'" [headerHeight]="62" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="8" [scrollbarH]="true" [messages]="{emptyMessage:'You do not have any patients registered in your office yet.', totalMessage: 'total'}">

        <ngx-datatable-column [width]="32" name="Id" prop="id"></ngx-datatable-column>
        <ngx-datatable-column [width]="128" name="Name" prop="name"></ngx-datatable-column>
        <ngx-datatable-column [width]="128" name="Last Name" prop="lastname"></ngx-datatable-column>
        <ngx-datatable-column [width]="128" name="Identification" prop="identification"></ngx-datatable-column>
        <ngx-datatable-column [width]="200" name="Actions">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <button (click)="openModalDetailPatient(detailtemplate, row)" type="button" class="btn btn-sm btn-success">
                    <i class="fas fa-eye"></i>
                    Show
                </button>
                <button (click)="openModalDetailPatient(detailtemplate, row, false)" type="button" class="btn btn-sm btn-warning">Edit</button>
                <button (click)="openModalDeletePatient(deletetemplate, row)" type="button" class="btn btn-sm btn-danger">Delete</button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Enter the patient's data</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form class="form" [formGroup]="createPatientForm" (ngSubmit)="OnSubmitCreatePatient()">

            <div *ngIf="result.type" class="alert {{result.type == 'error'? 'alert-danger':'alert-success'}}">
                {{result.message}}
            </div>

            <div class="form-group mb-3">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                            </div>
                            <input pattern="[a-zA-Z ]*" type="text" id="inputName" formControlName="name" class="form-control"
                                placeholder="Name" required autofocus>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                            </div>
                            <input pattern="[a-zA-Z ]*" type="text" id="inputLastName" formControlName="lastname" class="form-control"
                                placeholder="Last Name" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-watch-time"></i></span>
                    </div>
                    <input type="number" id="inputAge" formControlName="age" class="form-control" placeholder="Age"
                        required>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-transgender"></i></span>
                    </div>
                    <select id="input-gender" class="form-control form-control-alternative" placeholder="Gender"
                        formControlName="gender">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="doentSpecify">Does not specify</option>
                    </select>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-id-card-alt"></i></span>
                    </div>
                    <input type="number" id="inputIdentification" formControlName="identification" class="form-control"
                        placeholder="Identification" required>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                    </div>
                    <input type="text" id="inputPlace" formControlName="placeofbirth" class="form-control" placeholder="Place of Birth"
                        required>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input class="form-control datepicker" value="01/01/1990" formControlName="birthdate" type="date" placeholder="Select Date" required>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    <input type="number" id="inputMobile" formControlName="mobile" class="form-control" placeholder="Mobile"
                        required>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="number" id="inputConsultoryTelephone" formControlName="telephone" class="form-control"
                        placeholder="Telephone" required>
                </div>
            </div>

            <button class="btn btn-lg btn-success btn-block" type="submit" [disabled]="!createPatientForm.valid">Create
                new Patient</button>

        </form>

    </div>
</ng-template>

<ng-template #detailtemplate>
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Information about a specific patient.</h3>
                </div>
                <div class="col-4 text-right">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form class="form" [formGroup]="detailPatientForm" (ngSubmit)="OnSubmitDetails()">
                <h6 class="heading-small text-muted mb-4">Patient information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-name">Name</label>
                                <input type="text" id="input-name" class="form-control form-control-alternative"
                                    placeholder="Name" formControlName="name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-lastname">Last Name</label>
                                <input type="email" id="input-lastname" class="form-control form-control-alternative"
                                    placeholder="Last Name" formControlName="lastname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-identification">Identification</label>
                                <input type="number" id="input-identification" class="form-control form-control-alternative"
                                    placeholder="Identification" formControlName="identification">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-age">Age</label>
                                <input type="number" id="input-age" class="form-control form-control-alternative"
                                    placeholder="Age" formControlName="age">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-gender">Gender</label>
                                <select id="input-gender" class="form-control form-control-alternative" placeholder="Gender"
                                    formControlName="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="doentSpecify">Does not specify</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-place">Place of Birth</label>
                                <input type="text" id="input-place" class="form-control form-control-alternative"
                                    placeholder="Place of Birth" formControlName="placeofbirth">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-birthdate">BirthDate</label>
                                <input type="date" id="input-birthdate" class="form-control form-control-alternative"
                                    placeholder="BirthDate" formControlName="birthdate">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-mobile">Mobile</label>
                                <input type="number" id="input-mobile" class="form-control form-control-alternative"
                                    placeholder="Mobile" formControlName="mobile">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-telephone">Telephone</label>
                                <input type="number" id="input-telephone" class="form-control form-control-alternative"
                                    placeholder="Telephone" formControlName="telephone">
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="editing" class="text-right">
                    <button class="btn btn-icon btn-3 btn-success" type="submit" [disabled]="!detailPatientForm.valid">
                        <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                        <span class="btn-inner--text">Save new changes</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #deletetemplate>
    <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="declineDeletePatient()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="py-3 text-center">
                <i class="ni ni-bell-55 ni-3x"></i>
                <h4 class="heading mt-4">Are you sure?</h4>
                <p>Remember that the information will be lost.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" (click)="confirmDeletePatient()">Yes</button>
            <button type="button" class="btn btn-link text-white ml-auto" (click)="declineDeletePatient()" data-dismiss="modal">Close</button>
        </div>
    </div>
</ng-template>