.form {
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 480px;
    margin: 16px auto;

    .title {
        color: $color-white;
        font-weight: 600;
        font-size: 22px;
    }

    .subtitle {
        margin: 24px auto;
        font-weight: 500;
        font-size: 18px;
        color: $color-purple-opaque;
    }

    &.form-left {
        align-items: flex-start;
    }

}